@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
    --fonte1: Verdana, Geneva,tahoma,sans-serif;
    --fonte2:  'Fredoka One', cursive;
    --fonte3: 'Itim', cursive;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
html,body {
    min-height: 100vh;
    background-color: rgba(233, 224, 224, 0.979);
    font-family: var(--fonte1);
}
header {
    background-color: black;
    color: white;
    text-align: center;

}
header > h1 {
    padding-top: 40px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 8vw;
}
header > p {
    padding-bottom: 50px;
    
}
a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 28px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}
section > p {
    padding-bottom: 2em;

}
section.normal {
    background-color: whitesmoke;
}
section.imagem {
    background-color: rgb(26, 24, 24);
    color: white;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.836);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 6px;
    text-shadow: 2px 2px 1px black;
    
}
section#img1 {
    background-image: url(./imagens/pexels-pixabay-163143.jpg);
    
    background-position: right center;
}
section#img2 {

    background-image: url(./imagens/pexels-flickr-157040.jpg);
}
footer {
    background-color: black;
    color: white;
    text-align: center;
}